<!-- Loading new data -->
<div id="definingSeriesType" class="modal fade" tabindex="-1" role="dialog" ng-controller="DataManagementCtrl">
	<div class="modal-dialog">
		<form class="modal-content" role="form" data-toggle="validator">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Define new data series type</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Type name</label>
					<input type="text" class="form-control" name="dataset-type-key" pattern="^[_A-z0-9]{2,}$" ng-model="datasetSeriesType" required/>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" name="dataset-key-description" class="form-control" ng-model="datasetTypeDesc" required/>
				</div>
				<div class="form-group">
					<label>X Axis Description</label>
					<input type="text" name="dataset-type-x-axis-description" class="form-control" ng-model="datasetTypeXAxisDesc" required/>
				</div>
				<div class="form-group">
					<label>Y Axis Description</label>
					<input type="text" name="dataset-type-y-axis-description" class="form-control" ng-model="datasetTypeYAxisDesc" required/>
				</div>
				<div class="form-group">
					<label>X Axis Type</label>
					<select name="dataset-type-x-axis-type" class="form-control" ng-model="datasetTypeXAxisType" required>
						<option value="number">Number</option>
						<option value="date">Date</option>
					</select>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="dataset-type-relative-time" ng-model="datasetTypeRelativeTime"/> Relative Time
						</label>
					</div>
				</div>
				<div class="form-group">
					<label>Y Axis Type</label>
					<select name="dataset-type-y-axis-type" class="form-control" ng-model="datasetTypeYAxisType" required>
						<option value="number">Number</option>
						<option value="date">Date</option>
					</select>
				</div>
				<div class="form-group">
					<label>X Axis number format
						<small>(usually not necessary)</small>
					</label>
					<input type="text" name="dataset-type-x-axis-format" class="form-control" ng-model="datasetTypeXAxisFormat"/>
				</div>
				<div ng-show="error" class="alert alert-danger alert-no-bottom-margin" role="alert">Error: {{error}}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</form>
	</div>
</div>