<!-- Loading new data -->
<div id="loadingDataDialog" class="modal fade" tabindex="-1" role="dialog" ng-controller="DataManagementCtrl">
	<div class="modal-dialog">
		<form class="modal-content" role="form" data-toggle="validator">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Load new data</h4>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label>Time series type</label>
					<select name="dataset-type" class="form-control" ng-model="datasetSeriesType" required>
						<option ng-repeat="datadef in getDataDefinition()" value="{{datadef.key}}">{{datadef.desc}}</option>
					</select>
				</div>
				<div class="form-group">
					<label>Key</label>
					<input type="text" pattern="^[_A-z0-9]{2,}$" name="dataset-series-key" class="form-control" ng-model="datasetSeriesKey" required>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" name="dataset-series-description" class="form-control" ng-model="datasetSeriesDesc" required>
				</div>
				<div class="form-group">
					<label>Data</label>
					<textarea name="dataset-data" class="form-control" style="height: 100px" ng-model="datasetSeriesData" required></textarea>
				</div>
				<div ng-show="error" class="alert alert-danger alert-no-bottom-margin" role="alert">Error: {{error}}</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">Add</button>
			</div>
		</form>
	</div>
</div>